<?xml version="1.0" encoding="UTF-8"?>
<mule
    xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:spring="http://www.springframework.org/schema/beans"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"

    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"

    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <context:property-placeholder location="local.properties"/>

    <http:listener-config name="exp-tourofheros-api-v1-httpListenerConfig" host="${exp.tourofheros.api.v1.http.host}" port="${exp.tourofheros.api.v1.http.port}" basePath="${exp.tourofheros.api.v1.http.base.path}" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="exp-tourofheros-api-v1-config" raml="exp-tourofheros-api-v1.raml" consoleEnabled="false" doc:name="Router"/>

    <spring:beans>
        <spring:bean id="mongoDbClient" name="mongoDbClient" class="com.github.tylerhaigh.tourofheros.mongo.MongoDbClient" scope="singleton">
            <spring:property name="username" value="${exp.tourofheros.api.v1.mongo.username}"/>
            <spring:property name="password" value="${exp.tourofheros.api.v1.mongo.password}"/>
            <spring:property name="host" value="${exp.tourofheros.api.v1.mongo.host}"/>
            <spring:property name="port" value="${exp.tourofheros.api.v1.mongo.port}"/>
            <spring:property name="authDb" value="${exp.tourofheros.api.v1.mongo.auth.database}"/>
            <spring:property name="database" value="${exp.tourofheros.api.v1.mongo.database}"/>
            <spring:property name="collection" value="${exp.tourofheros.api.v1.mongo.heros.collection}"/>
        </spring:bean>
    </spring:beans>

    <configuration doc:name="Global_Functions">
        <expression-language>
            <global-functions file="expressions/global-expressions.mvel" />
        </expression-language>
    </configuration>

    <apikit:mapping-exception-strategy name="exp-tourofheros-api-v1-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>

        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>

        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>

        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>

        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>

</mule>
